<nav>
	<div class="navbar-fixed">
		<a href="#!" class="brand-logo">JSON</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#/home">Home</a></li>
			<li><a href="#/movie">Movies</a></li>
			<li><a href="#/software">Softwares</a></li>
			<li><a href="#/game">Games</a></li>		
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="#/home">Home</a></li>
			<li><a href="#/movie">Movies</a></li>
			<li><a href="#/software">Softwares</a></li>
			<li><a href="#/game">Games</a></li>
		</ul>
	</div>
</nav>